asgiref==3.8.1
Django==4.2.16 #
django-allauth==65.1.0
django-browser-reload==1.16.0
django-cors-headers==4.5.0
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
mysqlclient==2.2.5
pillow==11.0.0
PyMySQL==1.1.1
python-dotenv==1.0.1
sqlparse==0.5.1
tzdata==2024.2
whitenoise==6.7.0
